<h1>Translations</h1>

<ul>
  <% @translations.each do |translation| %>
    <li>
      <%= translation.original %>
      <%= translation.pronunciation %>
      <%= translation.meaning %>
    </li>
  <% end %>
</ul>
