<div class="h-screen flex flex-col items-center justify-center">
  <div class="text-9xl pb-8"><%= @translation.original %></div>
  <div class="text-3xl pb-4"><%= @translation.pronunciation %></div>
  <div class="text-3xl"><%= @translation.meaning %></div>
</div>
